@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  color: #fff;
}

body,
html {
  background-color: #000;
  overflow: hidden;
}

strong {
  font-weight: 700;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

@media (max-width: 768px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}
